html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #585857;
  background-color: #DB3E3B;
}
body {
  border-top: 6px solid #E18280;
}
h1 {
  color: #059E9A;
  margin: 0 0 0.67em 0;
}
h3 {
  width: 100%;
  border-bottom: 1px solid #585857;
  margin: 24px 0;
}
p {
  margin: 0;
}
#content {
  width: 898px;
  margin: 0 auto;
  background-color: #F4F2ED;
  /* background: url(../images/cornell.png) no-repeat bottom 24px left 24px #F4F2ED; */

  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  margin-bottom: 96px;
  border-top: 6px solid #F5A243;
  margin-top: -6px;
}
header {
  width: 100%;
  height: 180px;
  padding: 24px;
}
nav {
  width: 180px;
  padding: 0;
  float: left;
  line-height: 2em;
  margin-top: 3em;
}
nav .selected {
  font-weight: bold;
  background-color: #F5D8C4;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  padding: 0 24px;
}
nav ul li a {
  text-decoration: none;
  color: inherit;
}
#maincol {
  width: 670px;
  padding: 24px;
  background-color: #F5D8C4;
  float: left;
}
.person {
  width: 670px;
  margin-bottom: 24px;
  clear: both;
}
.person img {
  width: 216px;
  margin-right: 24px;
  float: left;
  border-left: 6px solid #E18280;
}
.person .info {
  width: 424px;
  float: left;
}
.person .info .name {
  font-weight: bold;
  color: #059E9A;
}
.person .info .email a {
  color: #059E9A;
}
.person .info .email a:visited {
  color: #059E9A;
}
.project {
  margin: 24px 0;
}
.project .name a {
  color: #059E9A;
  font-weight: bold;
  font-size: 1.17em;
}
.publications {
  border-left: 6px solid #E18280;
}
.publication .title {
  font-weight: bold;
}
.photobox {
  margin-bottom: 24px;
}
.photobox img {
  width: 670px;
}
.photobox .caption {
  color: #F4F2ED;
  width: 658px;
  padding: 6px;
  text-align: center;
  background-color: #E18280;
}
.photos {
  margin-left: -24px;
}
.photos .thumbnail {
  float: left;
  margin-left: 24px;
  margin-bottom: 24px;
  overflow: hidden;
  position: relative;
}
.photos .thumbnail img {
  width: 207px;
  height: 207px;
}
.photos .thumbnail:hover {
  border: 6px solid #E18280;
}
.photos .thumbnail:hover img {
  margin: -6px;
}
.photos .thumbnail:hover .caption {
  padding: 6px 0 0 0;
}
.photos .thumbnail .caption {
  width: 100%;
  padding: 6px 0;
  color: #F4F2ED;
  text-decoration: none;
  background-color: #E18280;
  position: absolute;
  bottom: 0;
  text-align: center;
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  -webkit-opacity: 0.9;
  opacity: 0.9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
  filter: alpha(opacity=90);
}
