---
layout: default
tab: people
---
<h1>Group Members</h1>

<h3>Post Docs</h3>

{% for person in site.categories.postdocs | sort %}
<section class="person">
  <img src="images/{{ person.photo }}">
  <section class="info">
    <p class="name">{{ person.name }}</p>
    <p class="email"><a href="mailto:{{ person.email }}">{{ person.email }}</a></p>
    <p class="description">
      {{ person.content }}
    </p>
  </section>
  <div style="clear: both"></div>
</section>
{% endfor %}

<h3>Graduate Students</h3>

{% for person in site.categories.grads | sort %}
<section class="person">
  <img src="images/{{ person.photo }}">
  <section class="info">
    <p class="name">{{ person.name }}</p>
    <p class="email"><a href="mailto:{{ person.email }}">{{ person.email }}</a></p>
    <p class="description">
      {{ person.content }}
    </p>
  </section>
  <div style="clear: both"></div>
</section>
{% endfor %}