---
layout: default
tab: people
---
<h1>Group Members</h1>

<div class="hector-abruna">
  <img src="/images/people/{{ site.data.hector_abruna.photo }}" width="670px" />
  <p class="headline">
    <span class="name">{{ site.data.hector_abruna.name }}</span>
    &middot;
    <a href="mailto:{{ site.data.hector_abruna.email }}" class="email">{{ site.data.hector_abruna.email }}</a>
  </p>
  <p class="description">
    {{ site.data.hector_abruna.description }}
  </p>
</div>

<h3>Post Docs</h3>

<ul class="people">
  {% for person in site.data.postdocs | sort %}
  <li class="person">
    <img src="/images/people/{{ person.photo }}">
    <section class="info">
      <p class="name">{{ person.name }}</p>
      <p class="email"><a href="mailto:{{ person.email }}">{{ person.email }}</a></p>
      <p class="description">
        {{ person.description }}
      </p>
    </section>
    <div style="clear: both"></div>
  </li>
  {% endfor %}
</ul>

<h3>Graduate Students</h3>

<ul class="people">
  {% for person in site.data.grads | sort %}
  <li class="person">
    <img src="/images/people/{{ person.photo }}">
    <section class="info">
      <p class="name">{{ person.name }}</p>
      <p class="email"><a href="mailto:{{ person.email }}">{{ person.email }}</a></p>
      <p class="description">
        {{ person.description }}
      </p>
    </section>
    <div style="clear: both"></div>
  </li>
  {% endfor %}
</ul>

<h3>Undergraduate Students</h3>

<ul class="people">
  {% for person in site.data.undergrads | sort %}
  <li class="person">
    <img src="/images/people/{{ person.photo }}">
    <section class="info">
      <p class="name">{{ person.name }}</p>
      <p class="email"><a href="mailto:{{ person.email }}">{{ person.email }}</a></p>
      <p class="description">
        {{ person.description }}
      </p>
    </section>
    <div style="clear: both"></div>
  </li>
  {% endfor %}
</ul>

<a href="/people/past_members.html" class="past_members">Past Members &raquo;</a>
