---
layout: default
tab: projects
---

<h1>Projects</h1>


<h3>Batteries</h3>

<ul class="projects">
  {% for project in site.categories.batteries %}
  <li class="project">
    <p class="name"><a href="{{ project.url }}">{{ project.title }}</a></p>
    <p>{{ project.excerpt | truncatewords:55 }}</p>
  </li>
  {% endfor %}
</ul>


<h3>Analytical Techniques</h3>

<ul class="projects">
  {% for project in site.categories.analytical_techniques %}
  <li class="project">
    <p class="name"><a href="{{ project.url }}">{{ project.title }}</a></p>
    <p>{{ project.excerpt | truncatewords:55 }}</p>
  </li>
  {% endfor %}
</ul>


<h3>Fuel Cells</h3>

<ul class="projects">
  {% for project in site.categories.fuel_cells %}
  <li class="project">
    <p class="name"><a href="{{ project.url }}">{{ project.title }}</a></p>
    <p>{{ project.excerpt | truncatewords:55 }}</p>
  </li>
  {% endfor %}
</ul>


<h3>Molecular Electronics</h3>

<ul class="projects">
  {% for project in site.categories.molecular_electronics %}
  <li class="project">
    <p class="name"><a href="{{ project.url }}">{{ project.title }}</a></p>
    <p>{{ project.excerpt | truncatewords:55 }}</p>
  </li>
  {% endfor %}
</ul>
