<html>
<head>
  <title>Abru&ntilde;a Electrochemistry</title>
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/abruna.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
</head>

<body>

<div id="content">

  <header>
    <a href="/about.html"><img src="/images/banner.png" alt="Abru&ntild;a Electrochemistry"></a>
  </header>

  <nav>
    <ul>
      {% include tab.html name="about" %}
      {% include tab.html name="projects" %}
      {% include tab.html name="people" %}
      {% include tab.html name="photos" %}
      {% include tab.html name="publications" %}
      {% include tab.html name="collaborators" %}
    </ul>
  </nav>

  <section id="maincol">

  {{ content }}

  </section>

<div style="clear: both"></div>

</div>

</body>
</html>